* {
    margin: 0;
    padding: 0;
}
/* COURUSEL */
.carusel_item {
    width: 100%;

    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.carusel_item_one {
    background-image: url(../images/bg1.jpg);
}
.carusel_item_two {
    background-image: url(../images/bg3.jpg);
}


/*****************************************/

/******************** Iphone 5s ***********************/
@media all and (max-width : 320px ) {
    .carusel_item {
        height: fit-content;
    }
    .carusel_item_one {
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    .carusel_item_two {
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    .wrapper {
        padding-bottom: 0;
    }
    .undefined {
        padding-bottom: 0px;
    }
}

/******************* all window **********************/
@media all and (max-width : 768px ) {
    .carusel_item {
    }
    .carusel_item_one {
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    .carusel_item_two {
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    .corusel_left,
    .corusel_right,
    .arrow_left,
    .arrow_right {
        padding: 0px;
        height: 22px;
        width: 22px;
    }
    .content {
        margin: 0;
        padding: 0;
    }

}